body, html {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button-open {
    background-color: transparent;
    margin: 10px 30px;
    padding: 20px 30px;
    border: 5px solid rgb(33, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
.button-open:hover {
    background-color: rgb(182, 185, 188);
}
.background-text {
    position: fixed;
    height: 100%;
    width: 100%;
    line-height: 2;
    padding: 5px;
    box-sizing: border-box;
    text-align: justify;
}
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}
.box {
    position: relative;
    display: flex;
    padding: 40px;
    margin: auto;
    box-sizing: border-box;
}
.left {
    background-color: black;
    color: white;
    display:flex;
    text-align: left;
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.button {
    background-color: transparent;
    color: white;
    padding: 15px;
    border: solid white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: rgb(44, 42, 42);
}
.img {
    position: relative;
    background-size: cover;
    background-position: center;

    width: 300px;
    height: 300px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .box {
        flex-direction: column-reverse;
        margin: auto;
    }
    .img {
        width: 100%;
        height: 300px;
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;
    }
    .left {
        padding: 30px;
        text-align: left;
        align-items: self-start;
    }
}
