body, html {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
:root {
    --bg: #fdfbfb;
    --bg-color: #ffffff;
    --text-color: #000000;  
    --hover-bg: rgba(0, 0, 0, 0.05);
    --icon-color: #1e1e1e;
}
body.dark-mode {
    --bg: #2b2828;
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
    --hover-bg: rgba(255, 255, 255, 0.1);
    --icon-color: #ffffff;
}
.header {
    position: fixed;
    background-color: var(--bg-color);
    height: 70px;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    top: 0;
}
.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 20px; 
}
.mobile-menu-toggle {
    display: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
    align-self: center;
    margin-left: auto;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 98;
    padding: 20px;
    
    box-sizing: border-box;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--text-color);
    padding-top: 10px;
    font-weight: 530;
}
.mobile-menu.active {
    display: flex;
}
.logo {
    display: block;
    height: 50px;
    width: auto;
    object-fit: contain;
    margin-left: 20px;
    align-self: center;
}
.menu-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0;
    padding: 0; 
}
.menu-mega {
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    font-weight: 530;
    gap: 5px;
    color: var(--text-color);
}
.menu a {
    box-sizing: border-box;
    padding: 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 530;
    color: var(--text-color);
    text-decoration: none;
}
.menu-mega:hover, .menu a:hover {
  color: #f8cc1c;   
}
.icon-close {
    display: none;
    color: var(--text-color);
}
.icon-menu {
    color: var(--text-color);
}
.mobile-menu-toggle.active .icon-menu {
    display: none;
}
.mobile-menu-toggle.active .icon-close {
    display: inline;
}
.arrow {
    display: inline-block;
    font-size: 12px;
    transition: transform 0.3s ease;
}
.menu-mega:hover .arrow {
    transform: rotate(180deg);
}
.menu-mega-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    padding: 20px 30px ;
    background-color: var(--bg-color);
    flex-direction: row;
    grid-template-columns: 200px 200px;
    left: 0;
    right: auto;
    transform: none;
    border-radius: 15px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.15);
}
.menu-mega:hover .menu-mega-dropdown {
    display: grid;
}
.menu-mega-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-mega-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
}
.menu-heading {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
    margin-top: 0px;
}
.item-icon {
    width: 30px;
    height: auto;
    object-fit: contain;
}
.item-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--text-color);
}
.item-desc {
    font-size: 12px;
    color: var(--text-color);
}
.header-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--icon-color);
    padding-right: 5px;
}
.icon-button#theme {
    margin-right: 15px;
    margin-left: 5px;
}
.icon-svg {
    fill: var(--icon-color);
    transition: fill 0.3s ease;
}
.icon-button:hover {
  color: #f8cc1c;
}
.icon-light { display: inline; }
.icon-dark { display: none; }
body.dark-mode .icon-light { display: none; }
body.dark-mode .icon-dark  { display: inline; }
.btn-login, .btn-signup {
    padding: 8px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 530;
    font-size: 14px;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.btn-login {
    background-color: #e5e5e5;
    color: #000 !important;
}
.btn-login:hover {
    background-color: #cccccc;
}
.btn-signup {
    background-color: #f8cc1c;
    color: #000 !important;
}
.btn-signup:hover {
    background-color: #e6b800;
}
.button-open {
    background-color: transparent;
    margin: 10px 20px;
    padding: 20px 30px;
    border: 5px solid var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--text-color);
    border-radius: 50%;
}
.button-open:hover {
    background-color: rgb(216, 220, 224);
}
.background-text {
    position: relative;
    line-height: 2;
    padding: 5px;
    box-sizing: border-box;
    text-align: justify;
    z-index: 1;
    padding-top: 0px;
    color: var(--text-color);
    background-color: var(--bg);
    padding-top: 60px;
}
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;  
}
.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 40px;
    margin: auto;
    box-sizing: border-box;
    z-index: 1000;
}
.left {
    background-color: black;
    color: white;
    display:flex;
    text-align: left;
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.button {
    background-color: transparent;
    color: white;
    padding: 15px;
    border: solid white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: rgb(44, 42, 42);
}
.img {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .menu-list, .header-button {
        display: none;
    }
    .mobile-menu-toggle {
        display: block; 
        margin-left: auto;
        margin-right: 20px;
    }
    .mobile-icon-group {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        padding: auto;
    }
    .menu-mega-dropdown {
        display: none;
        flex-direction: column;
        padding: 10px 0;
        position: static;
        transform: none;
        max-width: 100%;
        grid-template-columns: unset;
        box-shadow: none;
        border-radius: none;
    }
    .menu-mega-dropdown.active {
        display: flex;
    }
    .menu-mega-column {
        padding-left: 10px;
        width: 100%;
    }
    .menu-heading {
        margin-top: 10px;
    }
    .menu-mega-toggle {
        font-weight: 530;
        cursor: pointer;
        margin-top: 10px;
        color: var(--text-color);
        display: flex;
    }
    .arrow.rotated {
        transform: rotate(180deg);
    }
    .menu-mega-toggle .arrow {
        margin-left: auto;
  }
    .box {
        flex-direction: column-reverse;
        margin: auto;
    }
    .img {
        width: 100%;
        height: 300px;
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;
    }
    .left {
        padding: 30px;
        text-align: left;
        align-items: self-start;
    }
}
